/* Navigation */
.navbar {
    background: var(--white);
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar.hide {
    transform: translateY(-100%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 7rem 0.5rem 4rem;
}

.nav-logo img {
    height: 35px;
    width: auto;
    max-width: 100%;
    display: block;
}

/*!  */
/* Handle high DPI devices */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .nav-logo img {
        height: 32px;
    }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    .nav-logo img {
        height: 30px;
    }
}
/*!  */

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 500;
    transition: var(--transition);
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: var(--primary-color);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--orange);
    transition: var(--transition);
}

.nav-link:hover::after {
    width: 100%;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.bar {
    width: 25px;
    height: 3px;
    background: var(--dark-color);
    transition: var(--transition);
}

.orange {
    background: var(--orange);
}

.purple {
    background: var(--secondary-color);
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    
    .nav-menu {
        position: fixed;
        top: 66px;
        left: 100%;
        width: 100%;
        height: calc(100vh - 80px);
        background: var(--white);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2rem;
        transition: var(--transition);
        box-shadow: var(--box-shadow);
    }
    
    .nav-menu.active {
        left: 0;
    }
    
    .nav-container {
        padding: 0.75rem 1rem 0.6rem 1rem;
    }

    .nav-logo img {
        height: 40px;
        width: auto;
        max-width: 100%;
        display: block;
    }
}